{
  "name": "maven-proxy",
  "type": "groovy",
  "content": "repository.getRepositoryManager().delete('maven-proxy');
              repository.createMavenProxy( 'maven-proxy', '{{ maven_proxy_source_url }}', 'default' )"
}